html {
    font: 300 100%/1.5 Ubuntu, sans-serif;
    color: black;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-width: 320px;
    box-sizing: border-box
}

* {
    box-sizing: inherit
}

body {
    background: #f2f2f2;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0
}

.spec {
    display: inline-block;
}

.name {
    display: inline-block;
    margin: 0;
    width: 50%;
}

.email {
    float: right;
    width: 50%;
}

.container {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 8px;
    margin: 0
}

.contact-form {
    position: relative;
    width: 590px;
    padding-left: 392px;
    margin: 64px auto;
}

.contact-form .left-section {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: left;
    position: absolute;
    left: 40px;
    height: 400px;
    width: 350px;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
    padding-left: 40px;
    margin-top: 30px;
}

.contact-form .left-section .subject {
    width: 120%;
}

.contact-form .left-section .message {
    width: 120%;
}

.contact-form .right-section {
    background-color: #4285f4;
    color: #ffffff;
    border-radius: 10px;
    padding: 32px;
    width: 140%;
    height: 450px;
}

button {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    margin: 0 15px 0 0;
}

.style-btn {
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.style-dark {
    box-shadow: inset 0px 1px 0px 0px #4285f4;
    background: #4285f4;
    border: 1px solid #4285f4;
    color: #fff;
    text-shadow: 0 1px 0px #4285f4;
    width: 40%;
}

.style-dark:hover {
    background: #4285f4;
}

.style-dark:active {
    background: #4285f4;
    border-color: #4285f4;
}

input[type=checkbox] {
    height: 16px;
    width: 16px;
    margin-top: 2px
}

input,
textarea,
button {
    width: 100%;
    padding: 0.5em;
    border: none;
    font: 300 100%/1.2 Ubuntu, sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
}

input.invalid,
textarea.invalid {
    border-color: #d5144d;
}

textarea {
    height: 6em;
}

@media screen and (min-width: 30em) {
    #contact-form h2 {
        margin-left: 26.3736%;
        font-size: 2em;
        line-height: 1.5;
    }
    input,
    textarea,
    button {
        width: 73.6263%;
        line-height: 1.5;
    }
    textarea {
        height: 10em;
    }
}